<%- include header.ejs %>

        <%- include sidebar.ejs %>

        <div class="rightpart">

            <div class="log-wrightdashboard">
                <div >
                    <h3 class="sl-top-heading">Grouping Data </h3>
                    <div class="sl-profile">
                        <h5>Welcome <label><%= username %></label></h5>
                        <a class="sl-btn logout" href="<%= base_url %>/logout">Logout</a>
                    </div>
                </div>
            </div>

            <div class="bodycontent sl-file-box">
                <div class="col-lg-12 wrapform">

                    <!-- <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item" aria-current="page"><a href="<%= base_url %>/dashboard/listingdata/original">Listing Table</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Counting by Grouping data on table <%= tbname %></li>
                        </ol>
                    </nav> -->

                    <h3>What fields do you choose for grouping ?</h3>

                    <form id="tableCol" method="POST" action="<%= base_url %>/dashboard/analyze-grouping/">
                        
                    <input type="hidden" name="_csrf" value="<%= csurfToken %>">

                        <input type="hidden" name="tbname" value="<%= tbname %>">

                        <input type="hidden" name="fieldlist" value="<%= fieldlist %>">

                        <table class="table table-striped" id="grouping" style="margin-top: 50px;">
                                <thead>
                                    <tr>
                                        <th>
                                            Unique
                                        </th>
                                        <th>
                                            Projection
                                        </th>
                                        <th>
                                            Field
                                        </th>
                                    </tr>
                                </thead>
                        
                        <%
                            for (var i=0;i<fieldlist.length;i++){
                                %>
                                <tr>
                                    <td><label for="<%= 'a'+i %>"> <input type="checkbox" style="width: 20px; height:20px ;" name="selectfield" id="<%= 'a'+i %>" value="<%= fieldlist[i] %>" onchange="checkAll(this)"> </label></td>
                                    <td><label for="<%= 'a'+i %>"> <input type="checkbox" style="width: 20px; height:20px ;" name="selectfield" id="<%= 'b'+i %>" value="<%= fieldlist[i] %>"> </label>
                                    </td>
                                    <td>
                                        <label for="<%= 'a'+i %>" style="margin-left: 10px;"><%= fieldlist[i] %></label>
                                    </td>
                                </tr>
                                <%
                            }
                        %>
                    </table>
                    <br>
                        <input type="submit" name="submit" class="sl-btn logout" value="Create Table">
                    </form>

                </div>
            </div>

        </div>

<%- include footer.ejs %>