<%- include header.ejs %>

        <%- include sidebar.ejs %>

        <div class="rightpart">

            <div class="log-wrightdashboard">
                <div>
                    <h1 class="sl-top-heading">Create your table alias </h1>
                    <div class="info">
                        <h4>Welcome <label><%= username %></label></h4>
                        <a class="sl-btn" href="/adminiku/logout">Logout</a>
                    </div>
                </div>
            </div>

            <div class="bodycontent">
                <div class="col-lg-12">
                    <%
                        if (messages.message_alias){
                            %>
                                <div class="alert alert-success" role="alert">
                                  <%= (messages.message_alias) %>
                                </div>
                            <%
                        }

                    %>
                </div>
                <div class="col-lg-12 wrapform">

                    <form class="sl-file-box" method="POST" action="<%= base_url %>/dashboard/createtablealias/">

                        <p><strong>Please choose table ( required )</strong></p>

                        <input type="hidden" name="_csrf" value="<%= csurfToken %>">
                        <select class="sl-select" name="tbid" required="">
                                        <option value="">-Choose table-</option>
                                        <%
                                            listtb.forEach(function(list){
                                                %>
                                                <option value="<%= list.id  %>"><%= list.tb_name  %></option>
                                                <%
                                            })
                                        %>
                        </select>
                        <br>

                        <label>Alias name:</label>
                        <input type="text" name="alias" required=""><br>

                        <input class="sl-btn" type="submit" name="submit" value="SUBMIT">
                    </form>

                </div>
            </div>

        </div>

<%- include footer.ejs %>