<%- include header.ejs %>

    	<%- include sidebar.ejs %>

    	<div class="rightpart">

            <div class="log-wrightdashboard">
                <div>
                    <h1 class="sl-top-heading">Please upload your single data. </h1>
                    <div class="info">
                        <h4>Welcome <label><%= username %></label></h4>
                        <a class="sl-btn" href="/adminiku/logout">Logout</a>
                    </div>
                </div>
            </div>

            <div class="bodycontent">
                <div class="col-lg-12">
                    <%
                        if (messages.message_status_upload){
                            %>
                                <div class="alert alert-success" role="alert">
                                  <%= (messages.message_status_upload) %>
                                </div>
                            <%
                        }

                    %>
                </div>

                <div class="col-lg-12 wrapform">
                    
                    <form class="sl-file-box" method="POST" action="<%= base_url %>/dashboard/uploaddatasingle/?_csrf=<%= csurfToken %>" enctype="multipart/form-data">
                        
                                <p><strong>Choose grouping data :</strong></p>
                                <label for="ad1"><input type="radio" name="grouping" id="ad1" value="Separate Table" checked> <span></span> <label for="ad1">Separate Table</label></label>
                                <label for="ad2"><input type="radio" name="grouping" id="ad2" value="In Single Table"> <span></span> <label for="ad2">In Single Table ( columns should have same format )</label></label>
                                <br>

                                <div class="wraplisttable">

                                    <p><strong>Please choose table : ( leave it blank if you use for the first time )</strong></p>
                                    <select class="sl-select" name="tbname">
                                        <option value="">-Choose table-</option>
                                        <%
                                            
                                            listtb.forEach(function(list){

                                                if (list.alias == null){
                                                    %>
                                                    <option value="<%= list.tb_name  %>"> <%= list.tb_name %> </option>
                                                    <%
                                                }else{
                                                    %>
                                                    <option value="<%= list.tb_name  %>"> <%= list.tb_name %> [ <%= list.alias  %> ]</option>
                                                    <%
                                                }
                                                
                                            })
                                        %>
                                    </select>

                                </div>

                     
                        <p><strong>Upload file ( xls or xlsx ) :</strong></p>
                        <div class="sl-drag-n-drop">
                            <input type="file" name="file" required="">
                        </div>
                        </br>
                        
                        <input class="sl-btn" type="submit" name="submit" value="SUBMIT">
                    </form>

                </div>
            </div>

            <div class="tablelisting">
                <div class="col-lg-12">

                </div>
            </div>

        </div>

<%- include footer.ejs %>