<%- include header.ejs %>

        <%- include sidebar.ejs %>

        <div class="rightpart">

            <div class="log-wrightdashboard">
                <div class="col-lg-12 tophead">
                    <h1>Listing Table </h1>
                    <div class="info">
                        <h4>Welcome <label><%= username %></label></h4>
                        <a class="sl-btn" href="/adminiku/logout">Logout</a>
                    </div>
                </div>
            </div>

            <div class="bodycontent sl-file-box">
                <div class="col-lg-12">

                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page">Listing Table</li>
                    </ol>
                  </nav>


                  <%
                    if (messages.message_datalist){
                      %>
                        <label class="text-danger"><%= (messages.message_datalist) %></label>
                      <%
                    }

                  %>

                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Alias</th>
                          <th scope="col">Created</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>

                            <%
                                listtb.forEach(function(list){
                                    %>
                                    <tr>
                                        <td><%= list.idmain  %></td>
                                        <td><%= list.tbnamemain  %></td>
                                        <td><%= list.alias  %></td>
                                  
                                        <td>
                                          <a href="<%= base_url %>/dashboard/detaildata/<%= list.idmain  %>">View Data</a> / 
                                          <a href="<%= base_url %>/dashboard/exports/<%= list.idmain  %>">Download</a>  / 
                                          <a href="<%= base_url %>/dashboard/analyze/<%= list.idmain  %>">Analyze Data</a> /
                                          <a href="<%= base_url %>/dashboard/chart/<%= list.idmain  %>">Charts</a>
                                        </td>
                                    </tr>
                                    <%
                                })
                            %>
                        
                       </tbody>
                    </table>

                </div>
            </div>

        </div>

<%- include footer.ejs %>