<div class="log-wleftdashboard">
  <div class="cell">
    <h2 style="color: #827c7b;border-bottom: 2px solid #827c7b;">DASHBOARD</h2>
  </div>
      <a class="lis" href="<%= base_url %>/dashboard">Dashboard</a>
      <a class="lis" href="<%= base_url %>/dashboard/uploadsingle"
        >Upload Single</a
      >
      <a class="lis" href="<%= base_url %>/dashboard/uploadmultiple"
        >Upload Multiple File</a
      >
      <a class="lis" href="<%= base_url %>/dashboard/tablealias"
        >Create Table Alias</a
      >
      <a class="lis" href="<%= base_url %>/dashboard/listingdata/original"
        >Listing Data</a
      >
</div>
