<div class="log-wleftdashboard">
    		<div class="tb">
    			<div class="cell">
    				<h1>DASHBOARD</h1>

    				<ul>
                        <li><a href="<%= base_url %>/dashboard">Dashboard</a></li>
                        <li><a href="<%= base_url %>/dashboard/uploadsingle">Upload Single</a></li>
                        <li><a href="<%= base_url %>/dashboard/uploadmultiple">Upload Multiple File</a></li>
                        <li><a href="<%= base_url %>/dashboard/tablealias">Create Table Alias</a></li>
                        <li><a href="<%= base_url %>/dashboard/listingdata/original">Listing Data</a></li>
                    </ul>
    			</div>
    		</div>
    	</div>