<%- include header.ejs %> <%- include sidebar.ejs %>

<div class="rightpart">
  <div class="log-wrightdashboard">
      <h1 class="sl-top-heading">View Record</h1>
      <div class="sl-profile">
        <h5>Welcome <label><%= username %></label></h4>
        <a class="sl-btn logout" href="<%= base_url %>/logout">Logout</a>
      </div>
  </div>

  <div class="bodycontent">
    <div class="col-lg-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="width: 85%;">
          <li class="breadcrumb-item" aria-current="page">
            <a href="<%= base_url %>/dashboard/listingdata/original"
              >Listing Table</a
            >
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="<%= base_url %>/dashboard/detaildata/<%= idtable %>"
              >View <%= tbname %></a
            >
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            View Detail
          </li>
        </ol>
      </nav>

      <ul class="list-group">
        <% postrowdata.forEach(function(rows){ %>
        <tr>
          <% fieldata.forEach(function(field){ if (field != "date_a_created"){
          %>
          <li class="list-group-item">
            <%= field %>
            <span class="fx f1"> <%= field %> </span>
            <span class="fx f2">
              <span>
          </li>
          <% }else{ %>

          <li class="list-group-item">
            <span class="fx f1"> <%= field %> </span>
            <span class="fx f2"> <%= rows[field] %> </span>
          </li>
          <% } }) %>
        </tr>

        <% }) %>
      </ul>
    </div>
  </div>
</div>

<%- include footer.ejs %>
